<div class="navbar search-nav">
    <div class="navbar-inner" id="search-form-container">
        <form id="search-form" class="navbar-form">
            <div class="control-group">
                <a id="search-nearest-btn" class="btn btn-block btn-primary" href="#search/nearest"><i class="icon-map-marker icon-white"></i> Nearest</a>
            </div>
            <div class="control-group">
                <div class="current-location"></div>
                <input id="search-input" type="text" class="span10 required" placeholder="Search location" />
                <button id="search-btn" type="submit" class="btn span2 pull-right"><i class="icon-search icon"></i> Search</button>
            </div>
        </form>
    </div>
</div>          
